.DS_Store
.nodemonignore
*.js~
*.html~
npm-debug.log
.sass-cache/
.bower-*/
.idea/
nbproject/
node_modules/
bower_components
mean.iml
test/coverage/
modules/public/
modules/views/
/public/build/
/nbproject/private/

# A scratch work directory in Max's filesystem
packages/frolf/misc_development_data/
